/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Customized css starts here */

/* Use the animation property to create animations that will later enhance the user experience of the site */
@keyframes jump {
    50% { transform: translate(0,-100px);
  
    }
  }


body {
    background-color: #3B928C;
}

.nav {
    background-color: #65B587;
    height: 20px;
    text-align: center;
    padding: 50px 0;
}
/* Use the "inline" property to change a vertically aligned div box to a horizontally aligned one. Use the margin property to add some distance to it from other elements. Use "%" as a unit to make the page fit better to more screen sizes */
.nav div {
    display: inline;
    margin: 5%;
}

.banners-text {
    font-size: 70px;
}
/* Use "border" and "border-radius" to create a border and shape for the navigation links. Make it more like a button */
.aboutus a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.menu a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.contact a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.img img {
    width: 100%;
}
/* Hide images added for computer screen size pages */
.img-2 {
    display: none;
}

.banners-text p {
    font-size: 20px;
    text-align: center;
}

.mainimg-1 img {
    width: 50%;
}
/* Use the "flex" attribute to align images and text horizontally, and use "margin" to increase their distance from other elements */
.mainimg-1 {
    display: flex;
    text-align: center;
    margin: 20px 0 0 0;
}

/* Use "border" and "border-radius" to create a border and shape for the text. Make it more ornamental . Use the padding property to add some distance to it from other elements */
.mainimg-1 span {
    padding: 13%;
    border: 1px solid;
    border-radius: 10px;
    background-color: #65B587;
}

.mainimg-2 {
    display: flex;
}

.mainimg-2 img {
    width: 50%;
}
/* Use "border" and "border-radius" to create a border and shape for the text. Make it more ornamental . Use the padding property to add some distance to it from other elements */
.mainimg-2 span {
    padding: 13%;
    border: 1px solid;
    border-radius: 10px;
    background-color: #65B587;
}

.mainimg-3 {
    display: flex;
}

.mainimg-3 img {
    width: 50%;
}

.mainimg-3 span {
    padding: 13%;
    border: 1px solid;
    border-radius: 10px;
    background-color: #65B587;
}

.mainimg-4 {
    display: flex;
}

.mainimg-4 img {
    width: 50%;
}

.mainimg-4 span {
    padding: 13%;
    border: 1px solid;
    border-radius: 10px;
    background-color: #65B587;
}

.logo img {
    display: none;
}

.price-list img {
    width: 100%;
}

.footer-Buttons {
    text-align: center;
    margin: 10%;
}

/* Use "border" and "border-radius" to create a border and shape for the navigation links. Make it more like a button . Change his border fill color as well as the text color to make it more ornamental. */
.footer-Buttons a {
    color: white;
    background-color: #DE4147;
    text-decoration: none;
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
}
/*  screen size of cell phones and tablets ends here */

/* Set the width 1200px for the new layout */
@media screen and (min-width: 1200px) {

    .img img {
        display: none;
    }
    .img-2  {
        display: block;
    }
    .img-2 img {
        width: 100%;
    }

    .nav {
        font-size: 40px;
    }
    /* Set the color and background color of the navigation links, and use the "transition" property to set the animation duration to 1s */
    .nav a:hover {
        color: white;
        background-color: #65B587;
        transition: 1s;
    }
    
    .main {
        display: flex;
    }
    .main div{
        padding: 4%;
    }

    .main div {
        flex: 1;
    }

    .mainimg-1 {
        flex-direction: column;
    }
    .mainimg-1 img {
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    .mainimg-1 span {
        width: 100%
    }

    .mainimg-2 {
        flex-direction: column-reverse;
    }
    .mainimg-2 img {
        padding: 20px;
        width: 100%;
    }
    .mainimg-2 span {
        width: 100%
    }

    .mainimg-3 {
        flex-direction: column;
    }
    .mainimg-3 img {
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    .mainimg-3 span {
        width: 100%
    }

    .mainimg-4 {
        flex-direction: column-reverse;
    }
    .mainimg-4 img {
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    .mainimg-4 span {
        width: 100%
    }

    .price-list img {
        display: none;
    } 

    /* Use the previously edited animation on the button (link). Make the button more attractive to the viewer */
    .footer-Buttons {
        animation-name: jump;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    
}