/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Customized css starts here */


body {
    background-color: #3B928C;
}
/* Set the element spacing of the navigation bar */
.nav {
    background-color: #65B587;
    height: 20px;
    text-align: center;
    padding: 50px 0;
}
/* Use the "inline" property to change a vertically aligned div box to a horizontally aligned one. Use the margin property to add some distance to it from other elements. Use "%" as a unit to make the page fit better to more screen sizes */
.nav div {
    display: inline;
    margin: 1%;
}
/* Use "border" and "border-radius" to create a border and shape for the navigation links. Make it more like a button */
.aboutus a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.menu a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.contact a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.home a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}
/* Set background images for banners to change the monotony of page colors */
.banners {
    background-image: url(./img/background.jpg);
}

.banners-text {
    text-align: center;
    padding: 5%;
}

.banners-text h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.banners-text p {
    font-family: Arial, Helvetica, sans-serif;
}
/* Set the position of text in banners to fit the screen size better */
.title h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5%;
    color: white;
}
/* Use "border" and "border-radius" to add a border to the text. And use "padding" to add distance between the border and the icon itself */
.item1 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item1-img img {
    width: 100%;
}

.item1-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item1-text p {
    text-align: center;
}

.item2 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item2-img img {
    width: 100%;
}

.item2-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item2-text p {
    text-align: center;
}

.item3 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item3-img img {
    width: 100%;
}

.item3-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item3-text p {
    text-align: center;
}

.item3 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item3-img img {
    width: 100%;
}

.item3-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item3-text p {
    text-align: center;
}

.item4 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item4-img img {
    width: 100%;
}

.item4-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item4-text p {
    text-align: center;
}

.item5 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item5-img img {
    width: 100%;
}

.item5-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item5-text p {
    text-align: center;
}

.item6 {
    padding: 3%;
    margin: 5% 0;
    border: 1px solid;
    border-radius: 10px;

}

.item6-img img {
    width: 100%;
}

.item6-text h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item6-text p {
    text-align: center;
}
/* Use "border" and "border-radius" to create a border and shape for the navigation links. Make it more like a button . Change his border fill color as well as the text color to make it more ornamental. */
.footer h1 {
    text-align: center;
    color: white;
    background-color: #DE4147;
    text-decoration: none;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
}
/*  screen size of cell phones and tablets ends here */

/* Set the width 1200px for the new layout */
@media screen and (min-width: 1200px) {
    .nav {
        font-size: 40px;
    }

    
/* Set the color and background color of the navigation links, and use the "transition" property to set the animation duration to 1s */
    .nav a:hover {
        color: white;
        background-color: #65B587;
        transition: 1s;
    }

    .nav div {
        margin: 5%;
    }

    .banners {
        display: flex;
    }

    .banners-text {
        align-self: center;
    }

    .first-roll {
        display: flex;
    }

    .item1 {
        margin: 4%;
    }

    .second-roll {
        display: flex;
    }

    .item3 {
        margin: 4%;
    }

    .third-roll {
        display: flex;
    }

    .item5 {
        margin: 4%;
    }
}